 body {
    font-family: 'Libre Baskerville', serif;
    background-color: #293D5A;          
}

.title-underline {
    width: 200px;
    height: 5px;
    background-color: #64FFDA;
    margin: 0 auto;
}

.height-100 {
    min-height: 100vh;
}

.nav-color {
    background-color: #0A192F;
}

.projects-bg {
    background: url(../images/light_project.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
} 

.height-80 {
    min-height: 80vh;
}

.text-color {
    color:  #64FFDA !important;
}


h1{
    color: rgb(100, 255, 218) !important;
}

h2 {
    color: whitesmoke
}

.about-bg {
    background-color:#0A192F;
}

.skills-bg {
    background-color:#0A192F;
}

.about-background {
    /*background: url(../images/about-picture.jpg);*/
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#img-about{
    display: block;
    widows: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 50%;
    position: relative;
    
}

#timer {
    color: #fff;
    font-size: 32px;
}