 body {
    font-family: 'Libre Baskerville', serif;
    background-color: #293D5A;          
}

.title-underline {
    width: 200px;
    height: 5px;
    background-color: #64FFDA;
    margin: 0 auto;
}

.height {
    min-height: 100vh;
}

.nav-color {
    background-color: #0A192F;
}

/*.header-image {
    background: url(../images/cool-background.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    background-attachment: fixed; 
} */

.height-80 {
    min-height: 80vh;
}

.text-color {
    color:  #64FFDA !important;
}


h1{
    color: rgb(100, 255, 218) !important;
}

h2 {
    color: whitesmoke
}

.about-bg {
    background-color:#0A192F;
}